
.heroSectionParent {
    width: 100%;
    background-image: url('/assets/images/blogs/personalDevelopment-com.jpg') ;
    background-size: cover;
    background-position: center;
    padding: 0rem 0 1rem 0;
}

.heroSectionWrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    min-height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heroSectionWrapper h1 {
    font-size: 6rem;
    font-weight: bolder;
    line-height: 6.4rem;
}

.heroSectionWrapper p {
    padding: 2rem 0;
    font-size: 1.3rem;
    line-height: 1.4rem;
}

.heroSectionParent button {
    background: #1a56a5;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}   

@media only screen and (max-width: 1025px) and (min-width: 768px) {
}

@media only screen and (max-width: 768px) {


.heroSectionParent {
    width: 100%;
    background-image: url('/assets/images/blogs/personalDevelopment.jpg') ;
    background-size: cover;
    background-position: center;
    padding: 0rem 0;
}

.heroSectionWrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    min-height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heroSectionWrapper h1 {
    font-size: 3rem;
    font-weight: bolder;
    line-height: 3.4rem;
}

.heroSectionWrapper p {
    padding: 2rem 0;
    font-size: 1.3rem;
    line-height: 1.4rem;
}

.heroSectionParent button {
    background: #1a56a5;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 14px;
}  

}

@media only screen and (min-width: 1441px) {
}