.essenceParent {
  width: 100%;
  margin: 4rem 0;
  padding: 0;
}

.essenceWrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 40rem;
  background-image: url("/assets/images/aboutUs/the-Essence-of.png");
  background-position: center;
  padding: 4rem 4rem;
  border-radius: 20px;
  color: white;
}

.essenceContentWrapper {
  width: 40%;
}

.essenceContentWrapper h2 {
  font-size: 2.8rem;
  font-weight: bolder;
  line-height: 2.9rem;
  margin-bottom: 2rem;
}

.essenceContentWrapper p {
  font-size: 18px;
  margin-bottom: 2rem;
}

.essenceContentWrapper button {
    background: #1a56a5;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 1025px) and (min-width: 768px) {
}

@media only screen and (max-width: 768px) {
  .essenceParent {
    width: 100%;
    margin: 0rem 0;
    padding: 0;
  }

  .essenceWrapper {
    width: 90%;
    margin: 0 auto;
    min-height: 40rem;
    background-image: url("/assets/images/aboutUs/the-Essence-of.png");
    background-position: center;
    padding: 2rem 2rem;
    border-radius: 20px;
    color: white;
  }

  .essenceContentWrapper {
    width: 100%;
  }

  .essenceContentWrapper h2 {
    font-size: 2.2rem;
    font-weight: bolder;
    line-height: 2.3rem;
    margin-bottom: 2rem;
  }

  .essenceContentWrapper p {
    font-size: 18px;
    margin-bottom: 2rem;
  }

  .essenceContentWrapper button {
    background: #1a56a5;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1441px) {
}
