
.aboutParent {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/landingPage/web-bg-2.jpg') ;
    background-size: cover;
    background-position: center;
}

.aboutWrapper {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
}

.aboutBannerWrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #173f75;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
}

.aboutBannerContent {
    width: 45%;
    padding: 1.5rem;
}

.aboutBannerWrapper img {
    width: 48%;
    border-radius: 20px;
}

.aboutBannerWrapper button {
    position: absolute;
    bottom: -1rem;
    left: 5%;
    background: #5193df;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

} 

.aboutBannerHeading {
    line-height: 3.4rem;
    margin-bottom: 2rem;
}

.aboutBannerHeading h2 {
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 0;
}

.aboutBannerHeading h3 {
    font-size: 2.8rem;
    font-weight: bolder;
}

.aboutBannerContent p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.aboutCardsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: center;
}


.aboutCard {
    padding: 1.5rem;
    background: #173f75;
    color: white;
    text-align: center;
    width: 22rem;
    max-width: 22rem;
    /* height: 22rem; */
    min-height: 22rem;
    border-radius: 30px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
}

.aboutCard img {
    border-radius: 20px;
}

.aboutCard h3 {
    font-weight: bolder;
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
}

@media only screen and (max-width: 1025px) and (min-width: 768px) {

    .aboutParent {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/landingPage/web-bg-2.jpg') ;
    background-size: cover;
    background-position: center;
}

.aboutWrapper {
    width: 95%;
    margin: 0 auto;
    padding: 4rem 0;
}


}

@media only screen and (max-width: 768px) {


.aboutParent {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/landingPage/web-bg-2.jpg') ;
    background-size: cover;
    background-position: center;
}

.aboutWrapper {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0 0 0;
}

.aboutBannerWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background: #173f75;
    color: white;
    padding: 1.2rem 1.2rem 3rem 1.2rem;
    border-radius: 20px;
}

.aboutBannerContent {
    width: 100%;
    padding: 1rem;
}

.aboutBannerWrapper img {
    width: 100%;
    border-radius: 20px;
}

.aboutBannerWrapper button {
    position: absolute;
    bottom: -1rem;
    left: unset;
    right: 8%;
    background: #5193df;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
} 

.aboutBannerHeading {
    line-height: 3.4rem;
    margin-bottom: 2rem;
}

.aboutBannerHeading h2 {
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 0;
}

.aboutBannerHeading h3 {
    font-size: 2.8rem;
    font-weight: bolder;
}

.aboutBannerContent p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.aboutCardsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    margin: 2rem 0;
    align-items: center;
}

.aboutCard {
    padding: 1.5rem;
    background: #173f75;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 100%;
    /* height: 22rem; */
    min-height: 22rem;
    border-radius: 30px;
    margin-bottom: 1rem;
}

.aboutCard img {
    border-radius: 20px;
}

.aboutCard h3 {
    font-weight: bolder;
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
}

}

@media only screen and (min-width: 1441px) {
}