
.footerParent {
    width: 100%;
    margin: 0;
    padding: 0;
}

.footerWrapper {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0 2rem 0;
}

.footerUpperSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.footerContentWrapper {
    text-align: start;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.footerContentWrapper img {
    width: 4rem;
    margin-right: 0.5rem;
}

.footerContentWrapper h4 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #173f75;
}

.footerContentWrapper p {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #173f75;
}

.footerContentUpper {
    display: flex;
    align-items: center;
}

.footerNavigationWrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.footerNavigationWrapper p {

}

/* Banner */

.emailBannerWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #173f75;
    color: white;
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.emailBannerLeftSection {
    width: 100%;
    margin-bottom: 1rem;
}

.emailBannerLeftSection h3 {
    font-size: 3rem;
    font-weight: bolder;
}

.emailBannerLeftSection p {
    font-size: 17px;
}

.emailBannerRightSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.emailBannerRightSection input {
    width: 100%;
    background: white;
    color: black;
    border: 1px solid white;
    padding: 0.8rem 1.5rem;
    border-radius: 10rem;
    outline: none;
} 

.emailBannerRightSection button {
    padding: 0.9rem 2rem;
    background: #5193df;
    color: white;
    border-radius: 30px;
    font-size: 1.1rem;
    position: absolute;
    left: 0;
    bottom: -5rem;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.footerLowerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;
    margin-top: 1rem;
    padding: 0.5rem 0;
    color: grey;
}

@media only screen and (max-width: 1025px) and (min-width: 768px) {
}

@media only screen and (max-width: 768px) {


.footerParent {
    width: 100%;
    margin: 0;
    padding: 0;
}

.footerWrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0rem 0 1rem 0;
}

.footerUpperSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.footerContentUpper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContentWrapper {
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContentWrapper img {
    width: 8rem;
}

.footerContentWrapper h4 {
    font-size: 2.2rem;
    font-weight: bolder;
}

.footerContentWrapper p {
    font-size: 1.2rem;
    margin: 0 0.5rem;
} 

.footerNavigationWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0 2rem 0;
}

/* Banner */

.emailBannerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #173f75;
    color: white;
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.emailBannerLeftSection {
    width: 100%;
    margin-bottom: 1rem;
}

.emailBannerLeftSection h3 {
    font-size: 2rem;
    font-weight: bolder;
}

.emailBannerLeftSection p {
    font-size: 13px
}

.emailBannerRightSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.emailBannerRightSection input {
    width: 100%;
    background: white;
    color: black;
    border: 1px solid white;
    padding: 0.8rem 1.5rem;
    border-radius: 10rem;
    outline: none;
} 

.emailBannerRightSection button {
    padding: 0.9rem 2rem;
    background: #5193df;
    color: white;
    border-radius: 30px;
    font-size: 1.1rem;
    position: absolute;
    left: 0;
    bottom: -5rem;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.footerLowerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;
    margin-top: 1rem;
    padding: 0.5rem 0;
    color: grey;
}

.footerLowerSection p {
    font-size: 12px;
}

}

@media only screen and (min-width: 1441px) {
}