.joinMovementParent {
  width: 100%;
  margin: 0;
  padding: 0;
}

.joinMovementWrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-image: url("/assets/images/aboutUs/join-The-community.png");
  min-height: 40rem;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  border-radius: 30px;
  position: relative;
}

.joinMovementWrapper h4 {
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin-top: 1rem;
  font-weight: bold;
  color: white;
}

.joinMovementWrapper button {
  padding: 0.8rem 2rem;
  background: #5193df;
  color: white;
  border-radius: 30px;
  font-size: 1.1rem;
  position: absolute;
  bottom: -1.5rem;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.joinMovementContent {
  color: white;
}

.joinMovementContent h2 {
  font-size: 3.2rem;
  font-weight: bolder;
}

.joinMovementContent p {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 1025px) and (min-width: 768px) {
}

@media only screen and (max-width: 768px) {
  .joinMovementParent {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .joinMovementWrapper {
    width: 90%;
    margin: 2rem auto 4rem auto;
    text-align: center;
    background-image: url("/assets/images/aboutUs/join-The-community.png");
    min-height: 40rem;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-radius: 30px;
    position: relative;
  }

  .joinMovementWrapper h4 {
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin-top: 1rem;
    font-weight: bold;
    color: white;
  }

  .joinMovementWrapper button {
    padding: 0.8rem 2rem;
    background: #5193df;
    color: white;
    border-radius: 30px;
    font-size: 1.1rem;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .joinMovementContent {
    color: white;
  }

  .joinMovementContent h2 {
    font-size: 2.2rem;
    line-height: 2.3rem;
    font-weight: bolder;
  }

  .joinMovementContent p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1441px) {
}
